.offset-left {
    position: relative;
    left: -400px; /* Adjust this value to shift slightly left */
  }
  
  .client-logo {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-height: 80px; /* Adjust logo size as needed */
}

.client-logo:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.slider {
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.slide-track{
    display: flex;
    width: calc(250px*10);
    animation:scroll 20s linear infinite;
}
.slide-track:hover{
    animation-play-state:paused;
}
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px*5));
    }
}
.slide {
    height: 200px;
    width: 250px;
    display: flex;
    align-items:center;
    padding:15px;
    perspective:100px;
}
img{
    width: 100%;
    transition:transform 1s;
}
img:hover{
    transform:translateZ(20px);
}
/*Gradient shadow*/
.slider::before,
.slider::after{
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,
    rgba(255,255,255,0) 100%);
    content:'';
    height:100%;
    position:absolute;
    width:15%;
    z-index:2;
}
.slider::before{
    left:0;
    top:0;
}
.slider::after{
    right:0;
    top:0;
    transform: rotateZ(180deg);
}
